{% extends "layoutTripBudget.html" %}

{% block content %}
<h1>Trip Budget</h1>

<div>
    <table>
        <thead>
            <tr>
                <th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">#</th>
                <th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">Event</th>
                <th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">Link</th>
                <th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">Price</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">1</td>
                <td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">Luau</td>
                <td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">hawaiiluau.co</td>
                <td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">$500</td>
            </tr>
            <tr>
                <td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">Total</td>
                <td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">500</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}