{% extends "layoutTripPlanner.html" %}



{% block content %}
	<div class="container-fluid">

		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		<div>
			<h3 class="display-6 text-center">Plan your Day!</h3>
		</div>

		<div class="mt-2" style="padding: 15px; border-radius: 5px; background-color: #eee"">

			<div>
				<form action="/add" method="POST">

					<input type="hidden" name="id" value="1">

					<div class="form-group">
						<label for="date" class="display-6">Date</label>
						<input type="date" class="form-control" name="date" placeholder="">
					</div>
					<div class="form-group">
						<label for="breakfast" class="display-6">Breakfast</label>
						<input type="text" class="form-control" name="breakfast" placeholder="">
					</div>
					<div class="form-group">
						<label for="morning" class="display-6">Morning</label>
						<input type="text" class="form-control" name="morning" placeholder="">
					</div>
					<div class="form-group">
						<label for="lunch" class="display-6">Lunch</label>
						<input type="text" class="form-control" name="lunch" placeholder="">
					</div>
					<div class="form-group">
						<label for="afternoon" class="display-6">Afternoon</label>
						<input type="text" class="form-control" name="afternoon" placeholder="">
					</div>
					<div class="form-group">
						<label for="dinner" class="display-6">Dinner</label>
						<input type="text" class="form-control" name="dinner" placeholder="">
					</div>
					<div class="form-group">
						<label for="evening" class="display-6">Evening</label>
						<input type="text" class="form-control" name="evening" placeholder="">
					</div>
					<div class="mb-3">
						<input type="hidden" class="form-control" name="user_id">
					</div>

					<div class="col-auto">
						<button type="submit" class="btn btn-primary mt-2 mb-2">Add</button>
					</div>
				</form>
			</div>
		</div>
		<div class="mt-3">
			{% for event in events %}
			<div class="border-top border-bottom">
				<h1 class="display-4 text-center border-top">Your Itinerary</h1>
			</div>
			
			<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 25px;" class="col-4">{{event.date}}</th>
						<td style="font-family: 'Roboto', sans-serif; font-size: 17px;"><a href="/update/{{event.id}}" class="btn btn-primary" style="font-size: 12px; margin: 10px;">Update</a><a href="/destroy/{{event.id}}" class="btn btn-danger" style="font-size: 12px;">Delete</a></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Breakfast:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.breakfast}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Morning:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.morning}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Lunch:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.lunch}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Afternoon:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.afternoon}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Dinner:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.dinner}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Evening:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.evening}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
