<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"> 
{% if title %}
    <title>Trip Planner - {{title}}</title>
{% else %}
    <title>Trip Planner</title>
{% endif %}

<style>

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: darkcyan;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        opacity: 0.3;	
    }

    #myBtn:hover {
        background-color: #555;
        opacity: 1.0;
    }

    body {
        background-color: white;
        }
        input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: #eee;
        }
        
        .no-outline:focus {
        outline: none;
        }

        /* * {
            border: dotted red 1px;
        } */
</style>
</head>
<body>
    <div style="height: 50px; background-color:rgba(0, 95, 139, 0.898); display: flex; align-items: center; justify-content: flex-end; padding: 5px;" class="mb-4">
        {% block header %}
            {% if 'user_id' in session %}
                <div>
                    <a href="/account/{{user.id}}" class="text-light" style="text-decoration: none; margin-right: 10px;">Account</a>
                </div>
                <div>
                    <a href="/logout" class="text-light" style="text-decoration: none; margin-right: 10px;">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="/login" class="text-light" style="text-decoration: none; margin-right: 10px;">Login</a>
                </div>
                <div>
                    <a href="/register" class="text-light" style="text-decoration: none;">Register</a>
                </div>
            {% endif %}
        {% endblock header %}
    </div>

    <div class="text-center">
		{% with messages = get_flashed_messages(with_categories = true) %}     <!-- declare a variable called messages -->
			{% if messages %}                            <!-- check if there are any messages -->
				{% for category, message in messages %}            <!-- loop through the messages -->
					<div class="alert alert-{{ category }}">
                        {{message}}                   <!-- display each message in a paragraph tag -->
                    </div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>

{%block content%}
{%endblock content%}

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
    
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
    
        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
        } else {
        mybutton.style.display = "none";
        }
        }
    
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }

        function textCounter_breakfast(field,field2,maxlimit){
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit );
            return false;
            } else {
            countfield.value = maxlimit - field.value.length;
            }
        }
        function textCounter_morning(field,field2,maxlimit){
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit );
            return false;
            } else {
            countfield.value = maxlimit - field.value.length;
            }
        }
        function textCounter_lunch(field,field2,maxlimit){
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit );
            return false;
            } else {
            countfield.value = maxlimit - field.value.length;
            }
        }
        function textCounter_afternoon(field,field2,maxlimit){
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit );
            return false;
            } else {
            countfield.value = maxlimit - field.value.length;
            }
        }
        function textCounter_dinner(field,field2,maxlimit){
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit );
            return false;
            } else {
            countfield.value = maxlimit - field.value.length;
            }
        }
        function textCounter_evening(field,field2,maxlimit){
            var countfield = document.getElementById(field2);
            if ( field.value.length > maxlimit ) {
            field.value = field.value.substring( 0, maxlimit );
            return false;
            } else {
            countfield.value = maxlimit - field.value.length;
            }
        }
    </script>
    
                
        
    </body>
    </html>