{% extends "layout.html" %}



{% block content %}
	<div class="container-fluid">

		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		<div>
			<h3 class="display-6 text-center">Welcome {{user.username}}</h3> 
			<h3 class="display-6 text-center">Let's plan your Day!</h3>
		</div>

		<div class="mt-2" style="padding: 15px; border-radius: 5px; background-color: #eee;">

			<div>
				<form action='/add' method="POST">

					<input type="hidden" name="id" value="1">

					<div class="form-group">
						<label for="date" class="display-6">Date</label>
						<input type="date" class="form-control" name="date" placeholder="">
					</div>
					<div class="form-group" style="display: flex; justify-content: space-between; margin-bottom: 4px; align-items: baseline;">
						<label for="breakfast" class="display-6">Breakfast</label>						
						<div style="margin-top: 20px; color: rgb(190, 190, 190);">Remaining: <input disabled  maxlength="2" size="2" value="45" id="counter_breakfast" class="character text-center" style="color: rgb(190, 190, 190);"></div>
					</div>
					<div>
						<input type="text" class="form-control" name="breakfast" onkeyup="textCounter_breakfast(this,'counter_breakfast',45);">
					</div>

					<div class="form-group" style="display: flex; justify-content: space-between; margin-bottom: 4px; align-items: baseline;">
						<label for="morning" class="display-6">Morning</label>
						<div style="margin-top: 20px; color: rgb(190, 190, 190);">Remaining: <input disabled  maxlength="2" size="2" value="45" id="counter_morning" class="character text-center" style="color: rgb(190, 190, 190);"></div>
					</div>
					<div>
						<input type="text" class="form-control" name="morning" onkeyup="textCounter_morning(this,'counter_morning',45);">
					</div>

					<div class="form-group" style="display: flex; justify-content: space-between; margin-bottom: 4px; align-items: baseline;">
						<label for="lunch" class="display-6">Lunch</label>
						<div style="margin-top: 20px; color: rgb(190, 190, 190);">Remaining: <input disabled  maxlength="2" size="2" value="45" id="counter_lunch" class="character text-center" style="color: rgb(190, 190, 190);"></div>
					</div>
					<div>
						<input type="text" class="form-control" name="lunch" onkeyup="textCounter_lunch(this,'counter_lunch',45);">
					</div>

					<div class="form-group" style="display: flex; justify-content: space-between; margin-bottom: 4px; align-items: baseline;">
						<label for="afternoon" class="display-6">Afternoon</label>
						<div style="margin-top: 20px; color: rgb(190, 190, 190);">Remaining: <input disabled  maxlength="2" size="2" value="45" id="counter_afternoon" class="character text-center" style="color: rgb(190, 190, 190);"></div>
					</div>
					<div>
						<input type="text" class="form-control" name="afternoon" onkeyup="textCounter_afternoon(this,'counter_afternoon',45);">
					</div>

					<div class="form-group" style="display: flex; justify-content: space-between; margin-bottom: 4px; align-items: baseline;">
						<label for="dinner" class="display-6">Dinner</label>
						<div style="margin-top: 20px; color: rgb(190, 190, 190);">Remaining: <input disabled  maxlength="2" size="2" value="45" id="counter_dinner" class="character text-center" style="color: rgb(190, 190, 190);"></div>
					</div>
					<div>
						<input type="text" class="form-control" name="dinner" onkeyup="textCounter_dinner(this,'counter_dinner',45);">
					</div>

					<div class="form-group" style="display: flex; justify-content: space-between; margin-bottom: 4px; align-items: baseline;">
						<label for="evening" class="display-6">Evening</label>
						<div style="margin-top: 20px; color: rgb(190, 190, 190);">Remaining: <input disabled  maxlength="2" size="2" value="45" id="counter_evening" class="character text-center" style="color: rgb(190, 190, 190);"></div>
					</div>
					<div>
						<input type="text" class="form-control" name="evening" onkeyup="textCounter_evening(this,'counter_evening',45);">
					</div>



					<div class="mb-3">
						<input type="hidden" class="form-control" name="user_id">
					</div>

					<div class="col-auto">
						<button type="submit" class="btn btn-primary mt-2 mb-2">Add</button>
					</div>
				</form>
			</div>
		</div>
		<div class="mt-3">
			{% if events %}
			<div class="border-top border-bottom">
				<h1 class="display-4 text-center border-top">Your Itinerary</h1>
			</div>
			{% endif %}

			{% for event in events %}
	
			<div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 21px;">{{event.date}}</th>
						<td style="font-family: 'Roboto', sans-serif; font-size: 17px; display: flex; justify-content: end;">
							<a href="/update/{{event.id}}" class="btn btn-primary" style="font-size: 12px; margin: 10px;">Update</a>
							<a href="/destroy/{{event.id}}" class="btn btn-danger" style="font-size: 12px; margin: 10px;">Delete</a>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Breakfast:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.breakfast}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Morning:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.morning}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Lunch:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.lunch}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Afternoon:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.afternoon}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Dinner:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.dinner}}</td>
					</tr>
					<tr>
						<th scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">Evening:</th>
						<td scope="row" style="font-family: 'Roboto', sans-serif; font-size: 17px;">{{event.evening}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}

