{% extends "layout.html" %}

{% block header %}
    {% if 'user_id' in session %}
        <div>
            <a href="/dashboard" class="text-light" style="text-decoration: none; margin-right: 10px;">Dashboard</a>
        </div>
        <div>
            <a href="/logout" class="text-light" style="text-decoration: none; margin-right: 10px;">Logout</a>
        </div>
        {% else %}
        <div>
            <a href="/login" class="text-light" style="text-decoration: none; margin-right: 10px;">Login</a>
        </div>
        <div>
            <a href="/register" class="text-light" style="text-decoration: none;">Register</a>
        </div>
    {% endif %}
{% endblock header %}

{%block content%}
<div class="container-fluid">
    <form action="/user_update_submit/{{user.id}}" method="POST">

        <input type="hidden" name="id" value="{{user.id}}">

        <label for="username" class=" text-center "><h4>Username</h4></label>
        <input type="text" class="form-control " name="username" value="{{user.username}}">

        <label for="email" class=" text-center"><h4>Email</h4></label>
        <input type="email" class="form-control " name="email" value="{{user.email}}"> 


        <button type="submit" class="btn btn-primary mt-3 mb-2 form-control">Update Account</button>

    </form>

    <div>
        <a href="/destroy_account/{{user.id}}" class="btn btn-danger form-control">Delete Account </a>
    </div>
</div>

{%endblock content%}